body {
    background: #CCCCCC
}


.principal{
    background: #b8b6b6;
    padding: 10px;
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
}

#missao {
    font-size: 30px
}

#banner {
    width: 100%;
}

.itens {
    font-style: italic;
    font-size: 30px;
}

.beneficios {
    background: #ccbaba;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}